<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <i class="fa fa-home"> </i>
      Simple Interest Calculator
    </a>
   
    <div class="signout">
      <button class="btn btn-danger btn-lg" (click)="removeAcc()" style="margin-right: 10px;">Delete Account</button>
        <a  routerLink="../login" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
         
    </div>
  </nav>