.loanCalCon{
    width: 450px;
    margin: 20px auto;
    border: 0px solid gray;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 10px 2px gray;
}

input{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}
select{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.btnCnt{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

span{
    color:green;
}

.profile{
    width: 400px;
    margin: 20px auto;
}
.compCon{
    width: 450px;
    margin: 10px auto;
    border: 0px solid gray;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px gray;
}